        /* General Styles */
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font-family: Arial, sans-serif;
            background-image: url('received_1287011799348323.jpeg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            margin: 0;
            padding: 0;
            color: #333;
            line-height: 1.6;
        }

        .container {
            width: 80%;
            margin: auto;
        }

        /* Header Styles */
        header {
            background-color: #a0522d;
            color: white;
            padding: 20px 0 ;
        }

header h1 {
    margin-bottom: 10px;
    margin-top: 10px;
}

header nav ul {
    list-style: none;
    display: flex;
}

header nav ul li {
    margin-right: 20px;
} 

header nav ul li a {
    color: white;
    text-decoration: none;
}

header nav ul li a:hover {
            text-decoration: underline;
        }
        
.login-container {
    background-color: rgba(0,0,0,0.5);
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.login-container h2 {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 20px;
}

.login-container label {
    display: block;
    margin: 10px 0 5px;
    color: white;
}

.login-container input {
    width: 90%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
}

.login-container button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-container button:hover {
    background-color: #007BFF;
}

.login-container p {
    margin-top: 15px;
    color: white;
}

.login-container a {
    color: #007BFF;
    text-decoration: none;
}

.login-container a:hover {
    text-decoration: underline;
}

        /* Footer Styles */
        footer {
            background-color: #a0522d;
            color: white;
            text-align: center;
            padding: 10px 0;
            margin-top: 20px;
        }

        footer p {
            margin: 0;
        }