/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('received_1287011799348323.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    color: #333;
    line-height: 1.6;
}

/* Header */
header {
    background-color: #a0522d;
    color: white;
    padding: 20px 0;
}

header h1 {
    margin-bottom: 10px;
}

header nav ul {
    list-style: none;
    display: flex;
}

header nav ul li {
    margin-right: 20px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

/* Main Content */
.main-content {
    padding: 20px 0;
}

.container {
    width: 80%;
    margin: auto;
}

.post {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: white;
}

.post h2 {
    margin-bottom: 10px;
}

.post a {
    display: inline-block;
    margin-top: 10px;
    color: white;
    text-decoration: none;
}

.post a:hover {
    text-decoration: underline;
    color: white;
}
/* Footer */
footer {
    background-color: #a0522d;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}

footer p {
    margin: 0;
}